.list{
	box-sizing: content-box;
	padding-top: 35px;
	margin: 0 auto;
	width: 1010px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content:space-around;
	flex-wrap: wrap;
}

@media (max-width: 420px) { 

.list {
	width: 420px;

}
	

}
